/* universal */
body {
  background-color:#FAFAFA;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  padding:0;
  margin:0;
}

header {
  margin:0;
	display:block;
	font-size:2em;
	color:black;
	background-color:white;
	.header-name {
		margin-left:1%;
    display:inline-block;
    a {
      text-decoration:none;
    }
	}
  .header-text {
    font-size:1.5em;
    color:white;
    margin-top:1%;
    margin-right:5%;
    display:inline-block;
    float:right;
  }
}

.home-page-description {
  text-align:center;
  margin:1% 5% 2% 5%;
  font-family: "helvetica neue","times new roman",times,serif;
  font-size:1.3em;
  color:gray;
}

.index-category-links {
  font-family: "helvetica neue","times new roman",times,serif;
  width:80%;
  text-align:center;
  font-size:1.0em;
  margin: 0 auto 100px auto;
  .bracket {
    font-size:2em;
    white-space:normal;
    padding: 0;
  }
  .cat-no-wrap: {
    white-space:nowrap;
  }
}

.entity-show-page {
  margin: 2% 3% 2% 3%;
  line-height:1.2em;
  #map-canvas {
    width:200px;
    height:200px;
    display:inline-block;
  }
  .show-page-sidebar {
    float:left;
    width: 20%;
  }
  .entity-info {
    float:right;
    width: 80%;
    .entity-name {
      font-size:1.4em;
    }
    .entity-categories {
    }
    .entity-basic-info {
      display:inline-block;
    }
    .entity-description {
      display:inline-block;
    }
  }
}

.superior {
  float:right;
  display:inline-block;
}

.subordinates {
}

.incumbents-info {
  padding:5% 5% 0 0;
}

.leave-review {
  display:inline;
  margin:0;
  .form-inputs {
    margin:0 0 0 20%;
  }
  .form-field {
    margin:1% 0;
    width:100%;
    border-radius:0.5em;
    font-size:1.2em;
  }
  .submit-button {
    font-size:2em;
    width:20%;
    height:auto;
  }
}

.review {
  margin:0 0 0 20%;
	.review-name {
    margin:20px 0 0 0;
	}
	.review-date {
    float:right;
	}
	.review-text {
	}
	.review-rating {
	}
	.review-content {
	}
}

.nav_buttons {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	float-left:auto;
	float-right:auto;
}

section {
  overflow: auto;
}

.categories-show-page {
  padding:2% 3% 0% 4%;
}

.categories-entity-description {
  line-height:20px;
  padding-bottom:1.2%;
  font-size:0.9em;
  color:gray;
}

.search {
  input[type="text"] {
    width:40%;
    height:40px;
    font-size:1.8em;
    border-radius:0.4em;
  }
}

.search-box {
	text-align:center;
  margin:1% 0 2% 0;
}

.center {
  text-align: center;
}

.center h1 {
}

.sign-up-form {
	width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit-user-form {
	width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.log-in {
	width:35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  margin:0;
  line-height: 1;
  font-family: "Verdana";
}

h1 {
  margin:0;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3:hover {
	color:blue;
}

p {
  font-size: 1.1em;
  line-height: 1.0em;
}

li {
	text-decoration: none;
}

ol {
  list-style:none;
  padding-left:0;
}

ul {
  list-style:none;
  padding-left:0;
}