/* universal */
header {
	display:block;
	font-family:"Verdana";
	font-size:1.75em;
	color:white;
	margin-bottom:5px;
	margin-top:none;
	padding:20px;
	background-color:#EF5C5C;
	.header-text {
		display:inline;
		padding:0;
		text-align:right;
		font-size:.75em;
		float:right;
		a {
			color:white;
		}
		a:hover {
			text-decoration:underline;
		}
	}
	.searchbar {
		display:inline-block;
		width:35%;
		text-align:left;
	}
}

body {
  background-color:#F8FAFF;
  font-family:"Verdana";
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.searchbar {
	width:50%;
	float:center;
	margin-left:25%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.sign-up-form {
	width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.edit-user-form {
	width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log-in {
	width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
}

.entity-info {
	width:80%;
}

.review {
	width: 80%;
	border-style: solid;
	border-color: #D8D8DC;
	border-width: 1px;
	padding: 8px;
	border-left:0;
	border-right:0;
	border-top:0;
	//border-radius:10px;
	#review-name {
		display:inline;
	}
	#review-date {
		display:inline;
	}
	#review-text {
		display:inline;
	}
	#review-rating {
		float:right;
		display:inline;
	}
	#review-content {
		margin-left:5%;;
	}
}

.leave-review {
	width: 80%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Verdana";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3:hover {
	color:blue;
}

p {
  font-size: 1.1em;
  line-height: 1.0em;
}

li {
	text-decoration: none;
}

ol {
    list-style:none;
    padding-left:0;
}

ul {
    list-style:none;
    padding-left:0;
}​​

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}