/* universal */
body {
  background-color:#FAFAFA;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  padding:0;
  margin:0;
}

header {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin:0;
	display:block;
	font-size:2em;
	color:black;
	background-color:white;
	.header-name {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
		margin:10px 15px;
    display:inline-block;
    font-size:2.5em;
    a {
      text-decoration:none;
    }
	}
  .header-text {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size:1.2em;
    color:white;
    margin:30px 50px 0 0;
    display:inline-block;
    float:right;
  }
}

.home-page-description {
  text-align:center;
  margin:1% 5% 2% 5%;
  font-family: "helvetica neue","times new roman",times,serif;
  font-size:1.3em;
  color:gray;
}

.index-category-links {
  font-family: "helvetica neue","times new roman",times,serif;
  text-align:center;
  font-size:1em;
  line-height:2em;
  display:inline-block;
  margin: 0 100px 100px 100px;
  text-decoration:none;
}

.entity-show-page {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin: 2% 3% 2% 3%;
  line-height:1.2em;
  #map-canvas {
    width:200px;
    height:200px;
    display:inline-block;
  }
  .show-page-sidebar {
    float:left;
    width: 20%;
  }
  .entity-info {
    float:right;
    width: 80%;
    margin: 0 0 0 0;;
    .entity-name {
      font-size:1.9em;
      line-height:1.2em;
    }
    .entity-categories {
      font-family: "helvetica neue", helvetica, arial, sans-serif;
    }
    .entity-basic-info {
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      display:inline-block;
      margin: 0 0 20px 0;
    }
    .entity-description {
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      margin: 0 0 20px 0;
      font-size:1.3em;
      line-height:1.3em;
    }
  }
}

.superior {
  float:right;
  display:inline-block;
}

.subordinates {
}

.incumbents-info {
  margin:5% 5% 0 0;
}

.leave-review {
  display:inline;
  margin:0;
  .form-inputs {
    margin:0 0 0 20%;
  }
  .form-field {
    margin:1% 0;
    padding:7px 10px;
    width:80%;
    border-radius:0.4em;
    font-size:1.2em;
    border-color:white;
  }
  .submit-button {
    font-size:2em;
    width:20%;
    height:auto;
  }
}

.review {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin:0 0 0 20%;
  .review-count {
    margin:20px 0;
  }
	.review-name {
    margin:20px 0 0 0;
	}
	.review-date {
    float:right;
	}
	.review-text {
	}
	.review-rating {
	}
	.review-content {
	}
}

.nav_buttons {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	float-left:auto;
	float-right:auto;
}

section {
  overflow: auto;
}

.categories-show-page {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin:5% 5%;
  .categories-category-links {
    font-size:1.3em;
    line-height:1.5em;
  }
  .categories-entity-description {
    line-height:20px;
    font-size:1.1em;
    color:gray;
    padding:0 0 3% 0;
  }
}

.search {
  input[type="text"] {
    width:40%;
    height:30px;
    font-size:1.7em;
    border-radius:0.4em;
    border-width:0.15em;
    padding:8px 12px;
  }
}

.search-box {
	text-align:center;
  margin:1% 0 2% 0;
}

.center {
  text-align: center;
}

.center h1 {
}

.sign-up-form {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
	width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit-user-form {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
	width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.log-in {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
	width:35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;
  color:black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  margin:0;
  line-height: 1;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

h1 {
  margin:0;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3:hover {
	color:blue;
}

p {
  font-size: 1.1em;
  line-height: 1.0em;
}

li {
	text-decoration: none;
}

ol {
  list-style:none;
  padding-left:0;
}

ul {
  list-style:none;
  padding-left:0;
}