<% provide(:title, @categories.name) %>

<div class="categories-show-page">
<% @categories.public_entities.each do |entity| %>
	<p><%= link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %>
		<% if entity.description.length > 150 %>
    <div class="categories-entity-description"><%= entity.description[0..150] %>...</div>
		<% end %></p>
<% end %>
</div>