<% provide(:title, @categories.name) %>

<% @categories.public_entities.each do |entity| %>
	<p><%= link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %> <em><%= entity.description[0..100] %>...</em></p>
<% end %>